<a href="#"><img src="https://s3-us-west-1.amazonaws.com/cowalla-production/SimpleRSSLogo.png"></img></a>
<h5>-With backbone.js!</h5>
<p>Input your formatted RSS link into the 'Add feed' field and it will be
added to your feeds.<br>
 Try it with Hacker News: <a href="http://feeds.feedburner.com/newsyc20">http://feeds.feedburner.com/newsyc20</a>.
</p>
<div id='sidebar'></div>
<div>
	<p>

	</p>
		</div>
<div id='content'>

</div>

